

.footer{
    background: rgb(30, 28, 28);
    color: white;
}

.footerTitle{
    font-size: 15px;
}

.footerNavItem{
    font-size: 12px;
    
}

.copyright{
    font-size: 10px;
    
    color: rgb(107, 94, 94);
    
    text-align: center;
}



.reviewText{
    font-size: 13px;
}

.footerContainer{
    padding: 90px;
    padding-bottom: 2px;
}

