.welcome{
    display: flex;
    flex-direction: column;
    
    height: 400px;
    
    text-align: center;
    
    margin-inline: auto;
    align-items: center;
    background-image: url("../Assets/backgound1.png");
    background-size:auto;
    background-repeat: no-repeat;
}

section{
    padding-left: 90px;
    padding-right: 90px;
    margin-inline: auto;
    margin-bottom: 100px;
padding-bottom: 100px;
padding-top: 100px;
}
.welcome h1 {
    font-size: 70px;
    margin-block-start: 130px;
}

.welcome p{
    margin-block-end: 70px;
    font-weight: 100;
}


.aboutAlz{
background-color: rgba(0, 0, 0, 0.9);
}

.alzInfoSec{
    background: linear-gradient(to top , transparent, rgba(254, 248, 248, 0.998), rgba(255, 244, 244, 0.998), transparent) ;
}


.aboutAlz_card_title strong{
font-size: 15px;
}

.custom-shape-divider-top-1710254844 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

@media (max-width: 550px) {
    .welcome h1 {
        font-size: 40px;
        margin-block-start: 130px;
    }
    
    .welcome p{
        margin-block-end: 70px;
        font-weight: 100;
        font-size: 10px;
    }

    section{
        padding-left: 1px;
        padding-right: 1px;
        width: 100%;
    }
    .aboutAlz{
        font-size: 12px;
        width: 100%;
        margin-inline: auto;
    }

    .aboutAlz h2{
        font-size: 18px;
        text-align: center;
        
        
    }
    .aboutAlz p{
        font-size: 12px;
        text-align: justify;
        padding: 20px;
    }
    .aboutAlz h3{
        font-size: 15px;
        text-align: center;
    }
    .aboutAlz_card_title{
        padding-left: 20px;
    }
    .aboutAlz_card_title strong{
        font-size: 12px;
    }
    
.aboutAlz_card_img{

    padding: 20px;
}
}